
body {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #908b8b;

}


.name_logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 10px;
}

.logo {
    height: 50px;
    width: auto;
}

.name {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-left: 10px;
}

.sidebar {
    display: none;
    width: 250px;
    height: 100%;
    background-color: rgba(144, 139, 139, 0.77);
    position: fixed;
    top: 0;
    left: -250px;
    transition: 0.3s;
    padding-top: 60px;
    color: white;
    z-index: 2;
    overflow-x: hidden;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    border-radius: 0 20px 20px 0;
}

.sidebar a:hover {
    background-color: darkgray;
}

.sidebar .icon {
    margin-right: 10px;
    font-size: 18px;
}


.open-btn {
    font-size: 18px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #908b8b;
    color: white;
    border: none;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.open-btn:hover {
    color: #333;
}


.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(10vh - 5px);
    padding: 25px;
    color: white;

}

.content h1 {
    font-size: 26px;
    margin-bottom: 16px;
}

.content p {
    font-weight: bolder;
    font-size:16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: black;
}

.show {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
    padding: 20px;
}

.show section {
    flex: 1; 
    min-width: 250px; 
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.show section img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
}



.footer-nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.footer-nav a:hover{
    color: #777;
}
.social-links i {
    width: 24px;
    margin-right: 10px;
    padding: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
  
@media screen and (min-width: 801px) {
    .sidebar {
        left: 0;
    }
    .content {
        margin-left: 250px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        left: -250px;
        width: 60px;
    }
    .sidebar .menu, .name, .qr {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    .content h1 {
        font-size: 25px;
    }
    .content p {
        font-size: 12px;
    }
    .logo {
        margin-left: 30px;
    }
    .show {
        display: block; 
        padding: 0 20px;
    }
    .show section {
        margin-bottom: 20px; 
    }

    .show section span{
        font-size: 12px;
    }
}
